:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;

}

body {
    margin:0 0 1rem 0;
    background: linear-gradient(180deg, rgba(0, 45, 77, 0.20) 0%, #0F1B24 50%), url(media/code.png), #0F1B24 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightgrey;
    z-index: 1;
}

/** header animation */

.slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

header {
    min-height: 1.6rem;
    position:fixed;
    top:0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.8px;
    z-index: 2;

    background-color: rgba(15, 27, 36, 0.5);
    backdrop-filter: blur(6px);
    border-bottom: rgba(211, 211, 211, 0.2) solid .6px;
}

h1 {
    font-size: 28px;
    margin: .7rem 0;
    
    color: #0f1b24;
    padding: .25rem .55rem;
    background-color: #D9D9D9;
    border-radius: 15px;
    
}

header h1 {
    margin-left: .6rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

nav ul li a { /* text sections */
    font-size: 18px;
    margin-inline: .45rem;
    color: #0f1b24;
    text-decoration: none;
    
    padding: .2rem .35rem;
    background-color: #D9D9D9;
    border-radius: 10px;
}

/** transitions */



.content {
    position: relative;
    margin-top: 32vh;
    padding-inline: 2.5vw;
}

.content h2 {
    position: absolute;
    transform: translateX(55%) translateY(-19.2vh);

    display:inline-block;
    min-width: 45%;
    text-align: center;
    color:#D9D9D9;

    padding: .05rem 0 .2rem;
    margin-bottom: 0;
    border: 1px solid rgb(165, 210, 223);
    border-radius: 15px;

    text-shadow: rgb(15, 27, 36) -4px 2px 0px;
    
}

hr {
    width: 70%;
    margin-top: 0;
    border: .9px solid rgb(134, 193, 210);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.student {
    flex-direction: row-reverse;
}

p {
    display:flex;
    align-items: center;
    max-width: 40vw;
    min-height: 200px;

    font-size: 14px;
    color: #9bafb6;
    text-align: center;

    padding: 0 .6rem;

    border-radius: 30px;
    border: 1.4px solid rgba(119, 158, 170, 0.95);
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(5px);
}


img#purple {
    width: 305px;
    height: 162px;
    flex-shrink: 0;

    border-radius: 17px;
    -webkit-box-shadow:0px 6px 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.7);
}

img#student {
    width: 305px;
    height: 162px;
    flex-shrink: 0;

    border-radius: 17px;
    -webkit-box-shadow:0px 6px 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.7);
}

footer {
    padding: .8rem 1.8rem 1rem;
    margin: 1rem;
    position: relative;

    border-radius: 10px;
    background: linear-gradient(rgba(9, 48, 55, 0.5), rgba(9, 48, 55, 0.5)), url(media/code.png);
    background-size:cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: .8rem;

    align-items: center;
    justify-items: center;
}


footer h3 { grid-area: 1 / 1 / 2 / 3; }
footer h4#address { grid-area: 2 / 1 / 2 / 1; }
footer h4#number { grid-area: 2 / 2 / 3 / 3; }

h3, h4 {
    color: white;
    font-size: 16px;
    margin: 0;
    text-shadow: rgba(0, 0, 0, .85) -2px 2px 0px;
}

h3 {
    color: white;
}

h4 {
    color: rgb(220, 240, 246);
}

footer hr {
    position: absolute;
    max-width: 40%;
    border-width: 1px;
    border-radius: 50%;
    border-color:#d6e6ec;
}